SoloMadeGame/Temp/
SoloMadeGame/Library/
SoloMadeGame/Logs/
SoloMadeGame/Packages/
SoloMadeGame/ProjectSettings/
SoloMadeGame/UserSettings/
SoloMadeGame/Assets/Illust/
SoloMadeGame/Assets/Skybox/
